config.stopBubbling = true

lombok.experimental.flagUsage = ALLOW

# Accessors
lombok.accessors.flagUsage = ALLOW
lombok.accessors.chain = true
lombok.accessors.fluent = false
lombok.accessors.makeFinal = false
lombok.accessors.capitalization = BASIC

# Annotations generation
lombok.addJakartaGeneratedAnnotation = false
lombok.addJavaxGeneratedAnnotation = false
lombok.addLombokGeneratedAnnotation = true
lombok.addSuppressWarnings = true

# Constructors
lombok.allArgsConstructor.flagUsage = ALLOW
lombok.noArgsConstructor.flagUsage = ALLOW
lombok.requiredArgsConstructor.flagUsage = ALLOW
lombok.anyConstructor.flagUsage = ALLOW
lombok.anyConstructor.addConstructorProperties = true

# Common
lombok.getter.flagUsage = ALLOW
lombok.setter.flagUsage = ALLOW
lombok.toString.flagUsage = ALLOW
lombok.equalsAndHashCode.flagUsage = ALLOW
lombok.builder.flagUsage = ALLOW
lombok.superBuilder.flagUsage = ALLOW
lombok.value.flagUsage = ALLOW
lombok.data.flagUsage = ALLOW
lombok.with.flagUsage = ALLOW

# Misc
lombok.sneakyThrows.flagUsage = ALLOW
lombok.onX.flagUsage = ALLOW
lombok.standardException.flagUsage = ALLOW
lombok.utilityClass.flagUsage = ALLOW
lombok.jacksonized.flagUsage = ALLOW
lombok.nonNull.flagUsage = ALLOW
